doctype html
html
    head
        title= title
        meta(name=viewport, content="width=device-width, initial-scale=1.0")
        link(rel="icon", href=img("favicon/16.png"), type="image/png", sizes="16x16")
        link(rel="icon", href=img("favicon/32.png"), type="image/png", sizes="32x32")
        link(rel="preload", as="style", href=css("app.css"), onload="this.rel='stylesheet'")
        link(rel="preload", as="style", href="https://fonts.googleapis.com/css?family=Open+Sans:400", onload="this.rel='stylesheet'")
    body
        block content
        script(src=js("app.js"), async)
